<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>LinkShorter</title>
  
  
  
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  
</head>

<body>
  <h1>LinkShorter</h1>
<div id="wrapper">
	<form id="signin" method="" action="" autocomplete="off">
		<input type="text" id="user_name" name="user_name" placeholder="username" />
		<input type="password" id="password" name="password" placeholder="password" />
		<button type="submit">Log in</button>
	</form>
</div>
  
  
</body>
</html>
